<p class="home-text">
    Ce site est un gestionnaire de patients à destination des orthophonistes.
    Il ne possède que peu de fonctionnalités pour l'instant mais est en développement constant.
    Si vous avez des suggestions, n'hésitez pas à m'en faire part en m'envoyant un mail à cette adresse : <u>alex.sereuse@hotmail.fr</u>
</p>